RSS_2___Open_Source.json
{
  "name": "RSS a linkedin (mondodb)",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt}}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -500,
        660
      ],
      "id": "a4f3d195-d0e0-461b-bf7e-175fbf4fa5b4",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -500,
        860
      ],
      "id": "7faf74b3-b263-475c-bf7e-d59aa32d669b",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "9KMVOu6vEVg8Q1M3",
          "name": "Google Gemini(PaLM) Api CIAP"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                2,
                3,
                4,
                0,
                5
              ],
              "triggerAtHour": 23,
              "triggerAtMinute": 44
            }
          ]
        }
      },
      "id": "b05ec33e-4af0-4b90-829b-594747d899ce",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -3180,
        860
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "url": "https://www.testingcatalog.com/rss/",
        "options": {
          "ignoreSSL": true
        }
      },
      "id": "9df3f8b9-f878-44a4-a20a-8de6d58b51b4",
      "name": "RSS Read Testing Catalog",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        -2960,
        1060
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9aec0a09-4b6f-4fca-98e6-789abd5fdc51",
              "name": "title",
              "type": "string",
              "value": "={{ $json.title }}"
            },
            {
              "id": "56277e54-31a0-4804-ad23-c9ee6d244641",
              "name": "content",
              "type": "string",
              "value": "={{ $json.contentSnippet }}"
            },
            {
              "id": "a3586a80-588e-42d1-9780-370a956ddf6b",
              "name": "link",
              "type": "string",
              "value": "={{ $json.link }}"
            },
            {
              "id": "58f01618-8014-4685-9192-d15d596ffcd9",
              "name": "timestampDate",
              "type": "number",
              "value": "={{ new Date($json.isoDate).getTime() }}"
            },
            {
              "id": "716bb078-8df3-4d96-8a1b-4aec4f8cf206",
              "name": "categories",
              "type": "array",
              "value": "={{ $json.categories }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5faa1621-68a9-43a3-9931-3b3b8364f2e0",
      "name": "Transform date",
      "type": "n8n-nodes-base.set",
      "position": [
        -2520,
        860
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "e7cf09fb-af35-495d-a840-341f8d0ddcd8",
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "leftValue": "={{ $json.timestampDate}}",
              "rightValue": "={{ Date.now() - 7 * 24 * 60 * 60 * 1000 }}"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c03ec37f-8748-4c29-b14e-929fc8ecd92c",
      "name": "Filter by date (more than 7 days)",
      "type": "n8n-nodes-base.filter",
      "position": [
        -2300,
        780
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "timestampDate",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "id": "fb491238-4356-46b6-9759-0fcd659eafed",
      "name": "Sort by date",
      "type": "n8n-nodes-base.sort",
      "position": [
        -2080,
        780
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "62701309-8562-4d5a-9457-bcb04509081b",
      "name": "Limit news to x",
      "type": "n8n-nodes-base.limit",
      "position": [
        -1860,
        780
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "id": "0684a24e-50d4-4fca-acc3-e8cd34653ba7",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        -2740,
        860
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "url": "https://www.marktechpost.com/feed/",
        "options": {}
      },
      "id": "b64336d8-a6ee-4ba9-9723-32b0610afa9e",
      "name": "RSS Read marktechpost",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        -2960,
        860
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "content": "## RSS sources \nHere you can add up to nine sources of RSS. To do so, modify the merge node for the number of RSS feeds you want, duplicate the RSS node and wire it to the trigger and the merge node\n",
        "height": 660,
        "width": 500,
        "color": 4
      },
      "id": "4c69b765-0ca9-4687-aea2-d2245158c1f1",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3060,
        540
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Age and number of the news \nHere you can set the number of days behind by changing the 7 by any number in the filter by date node:\n```\nDate.now() - 7 * 24 * 60 * 60 * 1000\n```\nYou can also modify the number of news in the \"limit news to x\" node",
        "height": 420,
        "width": 640,
        "color": 5
      },
      "id": "148ea040-113d-41fc-ac64-7468908e1582",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2340,
        520
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the news article below. Identify and summarize these elements: core innovation, main goal, problem addressed, benefits, context, significance, key entities. For each element, output one line in plain text using a hyphen, the element name, a colon, and the description. Do not use any markdown formatting, bold, italics, or nested lists. Return only the list.\n\nTitle: {{ $json.title }}\nContent: {{ $json.content }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -1520,
        640
      ],
      "id": "d2d88dc2-7e69-44d9-ab3f-45d9e77ff54f",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1520,
        840
      ],
      "id": "fc267b3c-09d0-4b05-b8ba-f4e708ba4760",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "9KMVOu6vEVg8Q1M3",
          "name": "Google Gemini(PaLM) Api CIAP"
        }
      }
    },
    {
      "parameters": {
        "content": "# Etapa de IA: usando el API de Gemini\n\n## Modulo de análisis de contenido",
        "height": 560,
        "width": 680,
        "color": 3
      },
      "id": "9e26b76b-326f-4f38-b9a4-e0c08e1c2c66",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1620,
        440
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Etapa de IA: usando el API de Gemini\n\n## Modulo de obtención de hashtags",
        "height": 560,
        "width": 680,
        "color": 3
      },
      "id": "1375609b-25cc-4d37-989f-c614531d566e",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -900,
        440
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        -160,
        180
      ],
      "id": "d9b4876e-80fd-4af7-b8c1-b8f1d268590c",
      "name": "Information"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a87eedc7-035a-4672-8f4b-025603473aa0",
              "name": "Enlace",
              "value": "={{ $json.link }}",
              "type": "string"
            },
            {
              "id": "586747c1-cdde-46b2-b504-50721e22c7e1",
              "name": "Fecha_sinFormato",
              "value": "={{ $json.timestampDate}}",
              "type": "string"
            },
            {
              "id": "891b44a6-7e36-4bfc-97c2-73defa2e4aef",
              "name": "Titulo_original",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "0549ed91-6247-45d7-b165-c7ece53accc9",
              "name": "Contenido",
              "value": "={{ $json.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1700,
        180
      ],
      "id": "e37486e3-924e-4aa2-86ba-896dce1e2d4f",
      "name": "Information2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "341ed383-56fc-4ebb-a76a-3c5ad97da091",
              "name": "Categorias",
              "value": "={{ $json.categories }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1360,
        1240
      ],
      "id": "5989356e-ecce-4bc0-9cfa-bf124a38e3be",
      "name": "Information3"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Accede a los datos del merge\nconst analysis = $json.output.trim();\nconst categories = JSON.parse($json.Categorias);\n\n// Construye el prompt de ingeniería avanzada\nconst prompt = `Based on the analysis: ${analysis} and these categories: ${categories.join(', ')}, select the most relevant keywords to convert into LinkedIn hashtags. Choose only those closely related to the topic, popular within the AI community, innovative, and attention-grabbing. Generate five hashtags minimum. Return only the list of hashtags formatted with “#” and separated by commas, with no additional text or line breaks. Example: #AI, #Langchain, #ModelContextProtocols.`;\n\n// Devuelve el prompt para usarlo en el siguiente nodo\nreturn { prompt };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -700,
        660
      ],
      "id": "19e76c44-4c09-49aa-8707-efffff5ace69",
      "name": "Code1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        -880,
        660
      ],
      "id": "a014fea8-d0cb-4ac5-9ade-43fb9296f1db",
      "name": "Information1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "516a13eb-fd6d-4524-870f-937bd0c8a4ec",
              "name": "Analisis",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -800,
        280
      ],
      "id": "5c28e78f-4d79-4e8f-b8e3-b6bff209818e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "authentication": "communityManagement",
        "postAs": "organization",
        "organization": "=89339025",
        "text": "={{ $('AI Agent2').item.json.output }}",
        "shareMediaCategory": "IMAGE",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        3080,
        260
      ],
      "id": "8676bdbe-a615-4cf6-bc1a-bfc5338a99e2",
      "name": "LinkedIn",
      "credentials": {
        "linkedInCommunityManagementOAuth2Api": {
          "id": "1Wx2ujF9qglMVHJi",
          "name": "LinkedIn Community Management account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Etapa: Publicación en LinkedIn \n\n## Módulo de publicación de información obtenida en LinkedIn",
        "height": 540,
        "width": 560,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2860,
        0
      ],
      "id": "92b098e8-d713-4fb8-9889-1ddbd3557e87",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "# Generación de Código QR\n\n## Módulo de generación de código QR de la publicación realizada",
        "height": 540,
        "width": 900,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3540,
        0
      ],
      "id": "a775c3da-237c-47aa-929a-e63bbc390860",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"link\": \"https://www.linkedin.com/feed/update/{{ $json.urn }}\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3620,
        260
      ],
      "id": "110aa1df-ef11-4831-8041-759590caac9d",
      "name": "Conversión a enlace de LinkedIn"
    },
    {
      "parameters": {
        "url": "https://api.qrserver.com/v1/create-qr-code/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "data",
              "value": "={{ $json.link }}"
            },
            {
              "name": "size",
              "value": "300x300"
            }
          ]
        },
        "options": {}
      },
      "name": "Generar QR",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3920,
        260
      ],
      "id": "f97db835-8ea8-4a68-b64c-f41a6a17a8fb",
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "fileName": "qr.png",
        "options": {}
      },
      "name": "Escribir archivo",
      "type": "n8n-nodes-base.writeBinaryFile",
      "position": [
        4200,
        260
      ],
      "id": "1a2fd99a-9a62-4501-84f5-d1873640ccb6",
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "candidates[0].content.parts[0].inlineData.data",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2500,
        260
      ],
      "id": "d0085e73-768e-451c-b9f7-199d4a6be6d9",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "content": "# Etapa de IA: Generación de Imagen\n\n## Generación de Imagen mediante Gemini 2.0 y conversión a PNG",
        "height": 540,
        "width": 680,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2080,
        0
      ],
      "id": "7c66499c-0252-4314-8d73-0d7e3db88fc8",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash-exp-image-generation:generateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"role\": \"user\",\n      \"parts\": [\n        {\n          \"text\": \"{{ $json.output.slice(0, -2) }}\"\n        }\n      ]\n    }\n  ],\n  \"generationConfig\": {\n    \"responseModalities\": [\"Text\", \"Image\"]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2220,
        260
      ],
      "id": "cbbf150f-9687-4dd1-83f0-38eff84c5b85",
      "name": "Generación de Imagen1",
      "credentials": {
        "googlePalmApi": {
          "id": "4oDRxTpOIr5AefZt",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "04a473df-24f7-4dd6-aa55-0960263caa71",
              "leftValue": "={{ $json.link_raw }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        260,
        180
      ],
      "id": "bd48032b-6498-4354-8f19-d61bea40e1fd",
      "name": "If exists"
    },
    {
      "parameters": {
        "jsCode": "// Acceder a todas las entradas fusionadas del nodo \"Information\" (Merge)\nconst outputs = $('Information').all();  // Accede a todas las salidas fusionadas\n\n// Extraer la información de la noticia desde la primera entrada (índice 0)\nconst informacion = outputs[0].json[\"Contenido\"] || \"No disponible\";  // Información (noticia)\n\n// Extraer los hashtags desde la tercera entrada (índice 2)\nconst hashtags = outputs[0].json[\"output\"] || \"No disponibles\";  // Hashtags\n\n// Extraer los datos adicionales de la tercera entrada (índice 2)\nconst enlace = outputs[0].json[\"Enlace\"] || \"No disponible\";  // Enlace\nconst titulo_original = outputs[0].json[\"Titulo_original\"] || \"No disponible\";  // Título original\nconst analisis = outputs[0].json[\"Analisis\"] || \"No disponible\";  // Análisis\n\n// Construir el prompt final con toda la información y estructura requerida\nconst prompt = `\n\nYour Input Fields:\n- News Title: ${titulo_original}\n- News Content: ${informacion}\n- News Analysis: ${analisis}\n- Suggested Hashtags: ${hashtags}\n- Article Link: ${enlace}\n\nPost Structure:\n1. Attractive title with emoji: create a catchy title using a relevant emoji (for example, 🚀, 💡, 🔍). The title should be concise and appropriate for LinkedIn, but it should not be the same as the news title. Make it appealing to grab the readers' attention.\n\n2. Initial summary (max. 3 lines): write a clear and direct summary that introduces the core of the news. Use professional, simple language. Avoid unnecessary technical terms.\n\n3. Relevance of the Advancement (mandatory, 3 bullet points exactly): emphasize the potential impact of the advancement and how it could shape future developments. Avoid repeating information already presented in the title or summary. This section is the most persuasive part of the post, so it must be compelling and informative. Do not use hashtags or similar elements in the opening question or bullet points. \n\n- Opening question: the opening question should introduce the significance of the advancement and prompt curiosity, directly tying it to the topic and analysis of the news. This question should smoothly lead into the 3 key points. Ensureis not too long. Ensure the opening question are shorter than a line and concise. \n\n- Bullet points: provide context (AI, science, industry, etc.) and explain its significance. Capture attention by illustrating the benefits, implications, or future potential of the advancement. Ensure the bullet points are shorter than a line and concise, avoiding excessive detail. You can use emojis if necessary, but avoid overusing them.\n\n4. Call to Action (CTA – topic-related): end the post with a short, clever question or comment directly related to the topic. It must encourage reflection or interaction. Place it as the final line, after the article link\n\n5. Link to full article: add this line right before the closing *conoce más de esta noticia en el artículo completo: ${enlace}*\n\n6. Hashtags: choose 5 to 7 hashtags from the provided list. Include only those highly relevant to the topic and professional community.\n`;\n\n// Retornar solo el prompt\nreturn { \"prompt\": prompt };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        200
      ],
      "id": "cfd0dd24-08c5-43c3-8802-f35379a31b6b",
      "name": "Code"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "options": {
          "systemMessage": "=You are a professional content creator preparing a LinkedIn post in Spanish based on the news provided. The post must be concise (approx. 1200 characters), visually structured, and written in a professional and accessible tone. Follow the format and constraints below exactly."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        820,
        200
      ],
      "id": "04c8f679-c900-462d-87c1-16730e4805b4",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        820,
        380
      ],
      "id": "07cfa11d-bcbf-495f-a089-0a58060acb48",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "9KMVOu6vEVg8Q1M3",
          "name": "Google Gemini(PaLM) Api CIAP"
        }
      }
    },
    {
      "parameters": {
        "content": "# Etapa de IA: usando el API de Gemini\n\n## Modulo de obtención de la publicación",
        "height": 540,
        "width": 680,
        "color": 3
      },
      "id": "615b1a2f-69f6-459d-b8f5-519549e233ed",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        520,
        20
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create a prompt that generates only one response with no comments and no line breaks: a clean professional image for a LinkedIn news post based on the following news {{ $json.text }}. Ensure it reflects the core message conveying trust innovation and professionalism with space for overlay text. Do not use quotation marks, apostrophes, or any other punctuation marks.",
        "options": {
          "systemMessage": "=1. Title Placement: place the provided title in Spanish at the upper center of the image. The title must be legible and appropriately sized. It should integrate smoothly into the design without overpowering other visual elements. Ensure it clearly reflects the core message of the news without disrupting the overall balance.\n\n2. Color Palette: choose a color palette that aligns with the theme of the news. Use colors that enhance the core message—such as blue or gray for technology or business, earth tones for sustainability, or neutral tones for leadership. The colors should work together harmoniously, supporting the message without causing distractions or overwhelming the design.\n\n3. Core Message Visualization: visualize the core message through minimalistic and relevant visuals. Use abstract symbols, icons, or relevant imagery that represent the key concepts of the article, ensuring the visuals enhance the message. Avoid overcrowding the design, maintaining a professional, clean appearance.\n\n4. Overlay Text Space: ensure clear space for overlay text (e.g., subtitles or keywords). The text should be legible, well-integrated into the design, and should not obscure important visual elements or the main message. The design should be balanced and allow the text to enhance the image, not overpower it.\n\n5. Composition: maintain a minimalist, balanced composition that adheres to LinkedIn’s professional standards. All elements—title, visuals, and text—should work harmoniously together. Ensure that nothing feels cluttered, and the layout directs the viewer’s attention in a clear, logical flow. The design should feel polished and professional.\n\n6. Output Format: the image must be designed to fit LinkedIn’s standard post dimensions. Ensure the resolution is high enough for clarity and sharpness across both desktop and mobile devices, maintaining high visual quality while fitting LinkedIn’s specifications.\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        1620,
        220
      ],
      "id": "9ae09c17-f435-4766-94f6-1a379818fc22",
      "name": "AI Agent4"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1620,
        420
      ],
      "id": "1ea930dc-5a43-420d-9ad3-7112095f0da1",
      "name": "Google Gemini Chat Model4",
      "credentials": {
        "googlePalmApi": {
          "id": "9KMVOu6vEVg8Q1M3",
          "name": "Google Gemini(PaLM) Api CIAP"
        }
      }
    },
    {
      "parameters": {
        "content": "# Etapa de IA: Prompt para imagen\n\n## Limpieza de contenido de noticia y generación de prompt para obtener una imagen adecuada al contexto de la noticia",
        "height": 600,
        "width": 640
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1340,
        -20
      ],
      "id": "63bf8cd1-3f9e-4c23-b351-e55bccdc6d48",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "jsCode": "let texto = $input.first().json.output\n  .replace(/[\\n\\r\\t]/g, \" \")  // Reemplaza saltos de línea, retorno de carro y tabulaciones por espacio\n  .replace(/['\"\\\\]/g, \"\")      // Elimina comillas simples, dobles y barras invertidas\n  .replace(/\\s+/g, \" \")        // Reemplaza múltiples espacios por un solo espacio\n  .trim();                     // Elimina los espacios en blanco al inicio y al final\n\nreturn {\n  text: texto\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        220
      ],
      "id": "4b14ebcb-ca6e-4860-9fd2-c6f7668ed6cc",
      "name": "Limpieza de contenido de Noticia1"
    },
    {
      "parameters": {
        "url": "https://medium.com/feed/latinxinai",
        "options": {}
      },
      "id": "e920eff8-6484-4d28-8a62-feb122884df3",
      "name": "RSS LatinxinAI",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        -2960,
        660
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "collection": "ciap",
        "options": {},
        "query": "={\"link_raw\": \"{{ $json.Enlace }}\"}"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        40,
        180
      ],
      "id": "2aa323e0-349b-49c0-9961-8e411e43ea67",
      "name": "MongoDB",
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "8XZ9b8cqUwkEKbPr",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "ciap",
        "fields": "=title, link_raw, link_pub",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        4240,
        760
      ],
      "id": "150cd29e-1749-4570-99c2-d6c7a0f00f5b",
      "name": "MongoDB1",
      "credentials": {
        "mongoDb": {
          "id": "8XZ9b8cqUwkEKbPr",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        3840,
        760
      ],
      "id": "beba48c2-adc1-4484-81d1-142ac5696365",
      "name": "Merge1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2ba2e8ef-cc61-469d-9e11-90b813603478",
              "name": "title",
              "value": "={{ $json.Titulo_original }}",
              "type": "string"
            },
            {
              "id": "ade51fa4-a004-4b50-8f26-6479bb360f01",
              "name": "link_raw",
              "value": "={{ $json.Enlace }}",
              "type": "string"
            },
            {
              "id": "224e72fa-68d2-4bb7-a425-d9a2fd27607c",
              "name": "link_pub",
              "value": "={{ $json.link }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4040,
        760
      ],
      "id": "2a183337-861b-4e33-95cc-deb427309e32",
      "name": "Edit Fields1"
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Information",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read Testing Catalog",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read marktechpost",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS LatinxinAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read Testing Catalog": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Transform date": {
      "main": [
        [
          {
            "node": "Filter by date (more than 7 days)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter by date (more than 7 days)": {
      "main": [
        [
          {
            "node": "Sort by date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort by date": {
      "main": [
        [
          {
            "node": "Limit news to x",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit news to x": {
      "main": [
        [
          {
            "node": "Information2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Information3",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Transform date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read marktechpost": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Information1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information": {
      "main": [
        [
          {
            "node": "MongoDB",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Information2": {
      "main": [
        [
          {
            "node": "Information",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information3": {
      "main": [
        [
          {
            "node": "Information1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information1": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Information",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "LinkedIn": {
      "main": [
        [
          {
            "node": "Conversión a enlace de LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conversión a enlace de LinkedIn": {
      "main": [
        [
          {
            "node": "Generar QR",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar QR": {
      "main": [
        [
          {
            "node": "Escribir archivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generación de Imagen1": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If exists": {
      "main": [
        [],
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Limpieza de contenido de Noticia1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent4",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Limpieza de contenido de Noticia1": {
      "main": [
        [
          {
            "node": "AI Agent4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent4": {
      "main": [
        [
          {
            "node": "Generación de Imagen1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS LatinxinAI": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB": {
      "main": [
        [
          {
            "node": "If exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "MongoDB1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Guayaquil",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "2f115627-2c78-4963-90e5-6624b29a121a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8c2c429dd3943ee62e07d4501247518aac7a4e0ac2348a289df368ce47041939"
  },
  "id": "maniSh0UmgXX8k4S",
  "tags": [
    {
      "createdAt": "2025-05-05T20:28:22.814Z",
      "updatedAt": "2025-05-05T20:28:22.814Z",
      "id": "gvVTOTyDYvE5GHF0",
      "name": "autoreboot"
    }
  ]
}